.cart-blur-container {
    display: none;
    position: absolute;
    z-index: 100;
    width: 320px;
    height: 100%;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.4;
}
.cart-menu-container {
    display: none;
    position: absolute;
    z-index: 10000;
    top: 110px;
    right: 10px;
    height: 400px;
    width: 300px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    padding: 36px;
    .top-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .heading {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */

        letter-spacing: 1.28571px;
        text-transform: uppercase;

        color: #000000;
    }
    .remove-all-button {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        background: none;
        border: none;
        /* identical to box height, or 167% */

        text-decoration-line: underline;

        color: #000000;

        mix-blend-mode: normal;
        opacity: 0.5;
    }
    .cart-items-container {
        margin-top: 37px;
        .cart-item {
            // display: flex;
            
            .img {
                width: 62px;
                border-radius: 8px;
                margin-bottom: 16px;
            }
            .title {
                font-size: 15px;
                line-height: 25px;
                // margin-bottom: 16px;
            }
            .info-container {
                margin-bottom: 16px;
            }
        }
        .amount-button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: 0 22px;
            width: 120px;
            height: 55px;
            margin-right: 16px;
            background: #F1F1F1;
            .subtract {

            }
            .amount {

            }
            .inc {
                font-weight: 700;
                font-size: 20px;
                line-height: 18px;
                text-transform: uppercase;

                color: #000000;

                mix-blend-mode: normal;
                opacity: 0.25;
            }
            button {
                background: none;
                border: none;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
