.oval-background {
    /* Oval */
        box-sizing: border-box;

        position: absolute;
        left: 7.03%;
        right: 7.65%;
        top: 3.17%;
        bottom: 50.33%;

        border: 1px solid #FFFFFF;
}