.mobile-dropdown-menu-container {
    display: none;
    &.open {
        position: absolute;
        top: 57px;
        z-index: 1000;
        display: block;
        // width: 100%;
        left: 0%;
        right: 0%;
        box-sizing: border-box;
        
        background-color: $white;
        padding: 85px 24px;

        .wrapper {

        }
        a {
            display: block;
        }
        .item {
            background-color: $main-background;
            position: relative;
            height: 168px;
            margin-bottom: 69px;
            border-radius: 8px;

            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 1.07143px;
            text-transform: uppercase;
            .title, .shop-cta {
                position: absolute;
                width: 100%;
            }
            .title {
                bottom: 68px;
            }
            .shop-cta {
                bottom: 33px;
            }
            img {
                position: absolute;
                left: 36%;
                // right: 50%;
                top: -70px;
                width: 88px;
            }
            color: $defualt-text;
        }
    }
    @include md {
        display: none !important;       
    }
}