.oval-background {
    /* Oval */
    box-sizing: border-box;

    position: absolute;
    left: 7.03%;
    right: 7.65%;
    top: 3.17%;
    bottom: 44.33%;

    border: 1px solid #FFFFFF;
    border-radius: 50%;
}
.oval-background-outside {
    box-sizing: border-box;
    position: absolute;
    left: 0.92%;
    right: 1.22%;
    top: -0.33%;
    bottom: 40%;

    border: 1px solid #FFFFFF;
    border-radius: 50%;

}
.oval {
    opacity: 30%;
}
@media(min-width: 540px) {
    .oval-background {
        // width: 542px;
        // height: 542px;
        // left: 113px;
        // top: 1051px;
        // left: 15%;
        // right: 15%;
        box-sizing: border-box;
        position: absolute;
        left: 16.03%;
        right: 16.65%;
        top: -13.83%;
        bottom: 11.33%;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
    }
    .oval-background-outside {
        // left: 20%;
        // right: 20%;
        box-sizing: border-box;
        position: absolute;
        left: 7.92%;
        right: 6.22%;
        top: -19.33%;
        bottom: 5%;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
    }
}
.large-banner-container {
    position: relative;
    height: 600px;
    // background-color: #fff;
    background: #D87D4A;
    border-radius: 8px;
    .right-container {
        position: absolute;
        bottom: 55px;
        .title {
            margin-bottom: 27px;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 40px;
            /* or 111% */

            text-align: center;
            letter-spacing: 1.28571px;
            text-transform: uppercase;

            color: #FFFFFF;
        }
        p {
            margin-bottom: 31px;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            /* or 167% */

            text-align: center;

            color: #FFFFFF;

            mix-blend-mode: normal;
            opacity: 0.75;
        }
    }
    .link {
        background-color: $defualt-text;
    }
    .speaker-img {
        position: absolute;
        top: 63px;
        // center
        $width: 172px;
        left: calc((100% - $width) / 2);
        width: 172px;
    }
}