.menu {
    display: flex;
    justify-content: space-between;
    // justify-self: center;
    align-items: center;
    padding: 1rem;
    // icon sizes
    .menu-icon {
        width: 16px;
        height: 15px;
    }
    .logo {
        width: 143px;
        height: 25px;
    }
    .cart-icon-button {
        background: none;
        border: none;
    }
    .cart-icon {
        width: 23px;
        height: 20px;
    }
    // menu navigation
    @import '../menu-items.scss';

    // tablet
    @include tablet1 {
        padding: 32px 40px;
        .logo {
            margin-right: auto;
            margin-left: 42px;
            
        }
        .menu-icon {
            
        }
    }
    @include lg1 {
        .logo {
            margin-right: initial;
        }

    }
    @include lg2 {
        .logo {
            margin-left: 0;
        }
    }
}