@mixin tablet1 {
    @media (min-width: 768px) {
        @content;
    }
 }
@mixin desktop {
    @media (min-width: 1100px) {
        @content;
    }
 }
 @mixin headerText {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    text-transform: uppercase;

    color: #D87D4A;
 }
 @mixin titleText {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #000000;
 }
 @mixin pText {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */


    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.5;
 }
.product-container {
    @include tablet1() {
        display: flex;
        // justify-content: space-between;
        // margin: 0 auto;
    }
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F1F1F1;
        padding: 20px;
        box-sizing: border-box;
        @include tablet1() {
            width: 43%;
            height: 480px;
            margin-right: 69px;
            border-radius: 12px;
        }
        @include desktop() {
            width: 540px;
        }
        img {
            width: 100%;
            @include tablet1() {
                width: 281px;
                // margin-top: calc((480px - 280px) / 2);
                display: block;
            }
            @include desktop() {
                // width: 100%;
                // margin: auto auto;
            }
        }
    }
    .product-content-container {
        margin-top: 45px;
        max-width: 445px;
    }
    .header {
        @include headerText;
    }
    .product-title {
        @include titleText;
    }
    .description {
        @include pText;
    }
    .item {
        margin-bottom: 36px;
    }
    .add-to-cart-container {
        display: flex;
        align-items: center;
        button {
            border: none;
            background: none;
        }
        .amount-button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: 0 22px;
            width: 120px;
            height: 55px;
            margin-right: 16px;
            background: #F1F1F1;
            .subtract {

            }
            .amount {

            }
            .inc {
                font-weight: 700;
                font-size: 20px;
                line-height: 18px;
                text-transform: uppercase;

                color: #000000;

                mix-blend-mode: normal;
                opacity: 0.25;
            }
            button {
                background: none;
                border: none;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .add-to-cart-button {
            @include main-button;
            &:hover {
                background-color: #FBAF85 !important;
                cursor: pointer;
            }
            height: 55px;
            width: 160px;
        }
    }
}


@import './product-main-content.scss';
@import './gallery.scss';