.two-col-banner {
    @mixin tabletC {
        @media (min-width: 768px) {
            @content;
        }
    }

    * {
        box-sizing: border-box;
    }
    color: black;
    &>.item {
        height: 200px;
        width: 100%;
        margin-bottom: 24px;
        border-radius: 10px;
        @include tabletC {
            width: 49%;
            height: 320px;
        }
    }
    .left-container {
        background-image: url('../../assets/home/mobile/image-earphones-yx1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include tabletC {
            // background-size: contain;
            // background-image: url('../../assets/home/tablet/image-earphones-yx1.jpg');
        }
    }
    .right-container {
        padding-left: 24px;
        padding-top: 48px;
        background-color: #F1F1F1;
        .title {
            margin-bottom: 40px;
            font-family: inherit;
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            letter-spacing: 2px;
            text-transform: uppercase;

            color: inherit;
        }
        .link {
            margin: initial;
        }
        @include tabletC {
            padding-left: 41px;
        }
    }
    @include tabletC {
        display: flex;
        justify-content: space-between;
    }
}