@mixin tabletC {
    @media (min-width: 379px) {
        @content;
    }
}
@mixin tabletCLG {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktopC {
    @media (min-width: 1316px) {
        @content;
    }
}

.banner-medium-container {
    width: 100%;
    height: 320px;
    box-sizing: border-box;
    background-image: url('../../assets/home/mobile/image-speaker-zx7.jpg');
    background-size: contain;
    background-repeat: no-repeat;

    color: #000000;
    .text-container {
        padding-left: 25px;
        padding-top: 114px;
    }
    .title {
        margin-bottom: 39px;

        font-family: inherit;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 2px;
        text-transform: uppercase;

        color: #000000;
    }
    .link {
        margin: initial;
        color: inherit;
    }
    @include tabletC {
        background-size: cover;
    }
    @include tabletCLG() {
        padding-left: 64px;

        background-image: url('../../assets/home/tablet/image-speaker-zx7.jpg');
    }
    @include desktopC {
        background-image: url('../../assets/home/desktop/image-speaker-zx7.jpg');
        padding-left: 96px;
    }
}