.footer {
  @mixin tablet1 {
    @media (min-width: 690px) {
      @content;
    }
  }
  @mixin desktop1 {
    @media (min-width: 1013px) {
      @content;
    }
  }
  box-sizing: border-box;
  padding-top: 52px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 36px;
  background-color: #101010;
  color: #ffffff;
  @include tablet1 {
    padding: 52px 23px;
  }
  @include desktop1 {
    padding: 77px 165px 55px 165px;
  }
  .logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 56px;
    @include tablet1 {
      // margin: initial;
      // margin-right: auto;
      display: inline;
    }
  }
  .list {
    margin-bottom: 56px;
    ul {
      @include tablet1 {
        display: flex;
      }
    }
    li {
      margin-bottom: 31px;
      text-align: center;

      font-family: "Manrope";
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 25px;
      /* identical to box height, or 192% */

      letter-spacing: 2px;
      text-transform: uppercase;

      color: #ffffff;
      a {
        &:hover {
          color: #D87D4A;
        }
      }
      @include tablet1 {
        margin-right: 34px;
        margin-bottom: 0;
      }
    }
    @include tablet1 {
      margin-bottom: 46px;
    }
  }
  .text {
    margin-bottom: 56px;
    max-width: 850px;

    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.5;
    @include tablet1 {
      text-align: left;
    }
  }
  .bottom-content-container {
    p {
      margin-bottom: 56px;

      font-family: "Manrope";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      /* identical to box height, or 167% */

      color: #ffffff;

      mix-blend-mode: normal;
      opacity: 0.5;
    }
    .social-container {
      .icon {
        fill: #fff;
        &:hover {
          fill: #D87D4A;
        }
      }
      @include tablet1 {
        margin-left: auto;
      }
      .inner-wrapper {
        margin: 0 auto;
        width: 104px;
        display: flex;
        justify-content: space-between;
      }
    }
    @include tablet1 {
      display: flex;
    }
  }
}
