.categories-container {
    .wrapper {
        width: 87%;
        margin: 0 auto;
        .item {
            display: block;
            position: relative;
            height: 165px;
            margin-top: 68px;
            background: #F1F1F1;
            border-radius: 8px;
            .thumbnail {
                $width: 88px;
                position: absolute;
                left: calc((100% - $width) / 2);
                // right: 50%;
                top: -62px;
                width: $width;
            }
            .title {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 1.07143px;
                text-transform: uppercase;

                color: #000000;
            }
            .shop-cta {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 700;
                font-size: 13px;
                line-height: 18px;
                /* identical to box height */

                letter-spacing: 1px;
                text-transform: uppercase;

                color: #000000;

                mix-blend-mode: normal;
                opacity: 0.5;
            }
            &.headphones {
                .thumbnail {
                    top: -51px;
                }
            }
            &.speaker {
                .thumbnail {
                    top: -55px;
                }
            }
            &.earphones {
                .thumbnail {
                    top: -41px;
                }
            }
            .title, .shop-cta {
                position: absolute;
                width: 100%;
            }
            .title {
                bottom: 68px;
            }
            .shop-cta {
                bottom: 33px;
                text-align: center;
                .arrow {
                    margin-left: 14px;
                }
            }
            .thumbnail {
                $width: 88px;
                position: absolute;
                left: calc((100% - $width) / 2);
                // right: 50%;
                top: -62px;
                width: $width;
            }
        }
        // end of .item
        
        @include md {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .item {
                width: 30%;
            }
        }

        @include lg {
            // wrapper
            width: 77%;
        }
    }
}