.text-image-banner-container {
  margin-bottom: 127px;
  margin-top: 120px;
  .img-container {
    margin-bottom: 49px;
    height: 300px;
    margin-bottom: 49px;
    background-image: url("../../assets/product-xx99-mark-two-headphones/mobile/image-gallery-1.jpg");
    background-size: cover;
    background-position: 70% 50%;
    background-repeat: no-repeat;
    color: #000000;
  }
  .text-container {
    @include tablet1 {
        max-width: 573px;
        margin-left: auto;
        margin-right: auto;
    }
    .text-p {
      font-family: inherit;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      /* or 167% */

      text-align: center;

      color: #000000;
    }
    .heading {
      margin-bottom: 49px;

      font-family: inherit;
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 38px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;

      color: #000000;
      @include tablet1 {
        font-size: 40px;
        line-height: 44px;
        /* or 110% */

        text-align: center;
        letter-spacing: 1.42857px;
      }
      .word {
        color: #d87d4a;
      }
    }
  }
}
