.text-image-banner-container {
    margin-bottom: 49px;
    .img-container {
       height: 300px;
       background-image: url('../../assets/product-xx99-mark-two-headphones/mobile/image-gallery-1.jpg');
       background-size: cover;
       background-position: 70% 50%;
       background-repeat: no-repeat;
    }
}