.top-header {
    background-color: $menu-element;
    .menu {
        display: flex;
        justify-content: space-between;
        // justify-self: center;
        align-items: center;
        padding: 1rem;
        // icon sizes
        .menu-icon {
            width: 16px;
            height: 15px;
        }
        .logo {
            width: 143px;
            height: 25px;
        }
        .cart-icon {
            width: 23px;
            height: 20px;
        }
    }
    .content {
        min-height: 600px;
        background-image: url("/assets/home/mobile/image-header.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        // text spacing
        h2 {
            /* NEW PRODUCT */

            /* NEW PRODUCT */

            position: absolute;
            height: 19px;
            left: 19.82%;
            right: 19.51%;
            top: 201px;

            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 10px;
            text-transform: uppercase;

            color: #FFFFFF;

            mix-blend-mode: normal;
            opacity: 0.5;


        }
        h3 {
            /* XX99 Mark II Headpho */
            position: absolute;
            height: 80px;
            left: 0%;
            right: 0%;
            // top: calc(50% - 80px/2 - 70px);
            top: 230px;

            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 40px;
            /* or 111% */
            text-align: center;
            letter-spacing: 1.28571px;
            text-transform: uppercase;

            color: #FFFFFF;
        }
        p {
          /* Experience natural, */
            position: absolute;
            left: 0%;
            right: 0%;
            // top: 53.93%;
            top: 356px;
            bottom: 26.21%;

            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            /* or 167% */
            text-align: center;

            color: #FFFFFF;

            mix-blend-mode: normal;
            opacity: 0.75;

        }
        .see-product-link {
            // display: block;
            /* Group */

            position: absolute;
            left: 25.91%;
            right: 25.3%;
            // top: 83.79%;
            top: 448px;
            // bottom: -0.34%;



            /* Rectangle */

            // position: absolute;
            // left: 0%;
            // right: 0%;
            // top: 0%;
            // bottom: 0%;

            background: #D87D4A;


            /* See Product */

            // position: absolute;
            // height: 18px;
            // left: 19.69%;
            // right: 18.44%;
            // top: calc(50% - 18px/2);

            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            /* identical to box height */
            letter-spacing: 1px;
            text-transform: uppercase;

            // width: 160px;
            height: 48px;
            // text-decoration: none;
            text-align: center;

            // font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            /* identical to box height */
            text-decoration: none;

            letter-spacing: 1px;
            text-transform: uppercase;
            box-sizing: border-box;

            color: #FFFFFF;


        }
    }
}