$menu-element: #191919;
$main-background: #F2F2F2;
$button-color: #D87D4A;
$defualt-text: #000000;
$menu-element-text: #FFFFFF;

$defualt-font-family: "Manrope";



html {
    font-family: "Manrope";
    color: white;
}

@import './header.scss'
