@import './reset.scss';
$menu-element: #191919;
$main-background: #F2F2F2;
$button-color: #D87D4A;
$defualt-text: #000000;
$menu-element-text: #FFFFFF;
$white: #FFFFFF;


$defualt-font-family: "Manrope";


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 910px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }

 @mixin tablet1 {
    @media (min-width: 768px) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }

 @mixin lg2 {
    @media (min-width: 1252px) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}


html {
    font-family: "Manrope";
    // color: white;
}
body {
    position: relative;
    height: 100vh;
    background-color: white;
}
.main-wrapper {
    padding: 0 25px;
    @include lg {
        width: 77%;
        margin: 0 auto;
    }
}
.main-button {
    display: block;
    width: 160px;
    // height: 48px;
    padding: 15px 0;
    background: #D87D4A;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    margin: 0 auto;
    /* identical to box height */

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.see-through-button {
    display: block;
    width: 160px;
    // height: 48px;
    padding: 15px 0;
    background: none;
    border: solid 1px black;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    margin: 0 auto;
    /* identical to box height */

    letter-spacing: 1px;
    text-transform: uppercase;

}

// main
.banner {
    margin-bottom: 24px;
}
@import 'home-body/home-body.scss';
@import 'large-banner/large-banner.scss';
@import 'medium-banner/medium-banner.scss';
@import 'two-col-banner/two-col-banner.scss';
@import 'text-image-banner/text-image-banner.scss';
@import 'footer/footer.scss';




@import './header.scss';
@import './categories/categories.scss';
.App {
    position: relative;
}
.blur-container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 55px;
    width: 100vw;
    bottom: 0%;
    height: 100%;
    background: #000000;
    // mix-blend-mode: normal;
    opacity: 0.4;
    // background-color: red;
    z-index: 100;
}


@import './test.scss';
